body {
  font-family: sans-serif;
  background: #f1dcdc;
  padding: 10px;
  font-size: 9px; /* smaller text */
  color: #ad5e5e; 
}

.sound {
  margin: 5px 0;
}

label {
  font-weight: lighter;
  margin-right: 2px;
  margin-left: 2px;
  font-size: 12px;
}

input[type=range] {
  width: 150px;
}

audio {
  display: none;
}

h1 {
  font-size: 14px;
  color: #9c3f3f;
}